.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #002855; /* Navy blue background */
    color: white;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
  }
  
  .app-title {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .wallet-info {
    display: flex;
    align-items: center;
    background-color: #198754; /* Green background for wallet balance */
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .wallet-icon {
    margin-right: 5px;
  }
  
  .login-button {
    padding: 10px 15px;
    font-size: 18px;
    color: white;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .login-button:hover {
    background-color: #002855;
    color: white;
  }
  